body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}
#apps{
    background-color: rgb(81, 121, 121);
}
#games{
    background-color: rgb(75, 75, 116);
}
.line{
    height:6px;
    width:70px;
    background-color: black;
    margin:8px auto;
}